<!--Content Area-->
<div class="container">
  <div class="row">
    <div class="col-sm-3"> </div>
    <!--Show View item -->
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
            <%= form_for :project, url: projects_path, :method=>:post, html:{:class =>"form-horizontal", :id=>"Project_card", :multipart => true } do |f| %>
            <!--Name -->
            <div class="form-group">
              <label for="inputEvent" class="col-sm-4 control-label">Name * : </label>
              <div class="col-sm-7">
                <%= f.text_field :project_name, :class=>"form-control",:id=>"inputEvent", :placeholder=>"Name"%>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <!--Description -->
            <div class="form-group">
              <label for="inputDescription" class="col-sm-4 control-label">Description * :</label>
              <div class="col-sm-7">
                <%= f.text_area :projrct_description, :class=>"form-control", :id=>"inputDescription", :rows => "4" %>
              </div>
              <div class="col-sm-1"></div>
            </div>
            <!--Employees -->
            <div class="form-group">
             <label for="inputDescription" class="col-sm-4 control-label">Employees :</label>
             <div class="col-sm-7">
               <ul class="form-control event-section-height">
                 <% @employees.each do |e|%>
                 <li><%= check_box_tag "Projectemployee[]", e.id %>
                  <%= e.employ_name.titleize%>
                </li>
                <%end%>
              </ul>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <!--Other Information -->
          <div class="form-group">
            <label for="inputOther" class="col-sm-4 control-label">Other Information :</label>
            <div class="col-sm-7">
              <%= f.text_area :project_information, :class=>"form-control", :id=>"inputOther", :rows=>"4" %>
              <p></p>
            </div>
            <div class="col-sm-1"></div>
          </div>
          <!--Profile Picture -->
          <div class="form-group">
            <label for="inputProfile" class="col-sm-4 control-label">Project Icon :</label>
            <div class="col-sm-3">
              <div class="event-title">
                <%= image_tag "QWINIX_profile_image.png", :alt=>"image", :class=>"img-thumbnail", :id => "preview" %></div>
              </div>
              <div class="col-sm-3">
                <%= f.file_field :project_icon, :id=>"exampleInputFile" %>
              </div>
              <div class="col-sm-2"></div>
            </div>
            <div class="modal-footer">
              <%= f.submit "OK", :class=>"btn btn-primary ok-btn-padding" %>
              <button type="button" onclick="window.location.href='/projects'", class="btn btn-default ok-btn-padding" data-dismiss="modal">Cancel</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>